In [3]:
import pandas as pd

In [14]:
s2017_df = pd.read_csv('C:/Users/Aloysius/OneDrive/Documents/GitHub/Capstone---NBA-2017-Season/2017_season_data.csv', index_col=[0])

In [16]:
players_df = pd.read_csv('C:/Users/Aloysius/OneDrive/Documents/GitHub/Capstone---NBA-2017-Season/player_data.csv', index_col=[0])

In [18]:
s2017_df.head(5)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

In [19]:
players_df.head(1)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University

### Data Wrangling Activities

##### 1. Merge `s2017_df` and `players_df` with a left join

In [20]:
df = s2017_df.merge(players_df, how='left', left_on='Player', right_on='name').copy()

##### 2. Are there misses (mismatches) in the resulting dataframe?

In [21]:
pd.set_option('display.max_columns',200)
df.head()
df['name'].isna().sum()

4

##### 3. How many rows couldn't be matched?

In [22]:
df['name'].isna().sum()

4

##### 4. Extract the names of the players that couldn't be matched

In [23]:
player_misses = df[df['name'].isna()]['Player'].tolist()

##### 5. Modify `players_df` with the correct names to re-try a successful merge

In [24]:
# players_df.query('name == "Alaa Abdenlnaby"')
players_df.loc[players_df['name'].str.contains('Luc Mbah'),'name'] = "Luc Mbah"
players_df.loc[players_df['name'].str.contains('James Michael'),'name'] ='James Michael'
players_df.loc[players_df['name'].str.contains('Sheldon'),'name']='Sheldon McClellan'
players_df.loc[players_df['name'].str.contains('Metta World'),'name']='Metta World'
# s2017_df[s2017_df['Player'].str.contains('James Michael')]

##### 6. Perform the merge between `s2017_df` and `players_df` again, this time, without misses

In [27]:
df = s2017_df.merge(players_df, how = 'left', left_on = 'Player', right_on = 'name').copy()
df['name'].isna().sum()

0

##### 7. Remove unnecessary columns

In [28]:
df.columns
df= df[[ 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 
        'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
        'FG', 'FGA',  '3P', '3PA',  '2P', '2PA',
       '2P%',  'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'year_start', 'year_end', 'position',
       'height', 'weight', 'birth_date', 'college']]

##### 8. Rename teams to their full name

In [29]:
team_mapping = {
    "OKC": "Oklahoma City Thunder",
    "DAL": "Dallas Mavericks",
    "BRK": "Brooklyn Nets",
    "SAC": "Sacramento Kings",
    "NOP": "New Orleans Pelicans",
    "MIN": "Minnesota Timberwolves",
    "SAS": "San Antonio Spurs",
    "IND": "Indiana Pacers",
    "MEM": "Memphis Grizzlies",
    "POR": "Portland Trail Blazers",
    "CLE": "Cleveland Cavaliers",
    "LAC": "Los Angeles Clippers",
    "PHI": "Philadelphia 76ers",
    "HOU": "Houston Rockets",
    "MIL": "Milwaukee Bucks",
    "NYK": "New York Knicks",
    "DEN": "Denver Nuggets",
    "ORL": "Orlando Magic",
    "MIA": "Miami Heat",
    "PHO": "Phoenix Suns",
    "GSW": "Golden State Warriors",
    "CHO": "Charlotte Hornets",
    "DET": "Detroit Pistons",
    "ATL": "Atlanta Hawks",
    "WAS": "Washington Wizards",
    "LAL": "Los Angeles Lakers",
    "UTA": "Utah Jazz",
    "BOS": "Boston Celtics",
    "CHI": "Chicago Bulls",
    "TOR": "Toronto Raptors"
}

df['Team'] = df['Tm'].replace(team_mapping)

##### 9. Convert birthday to a datetime object

In [30]:
df['birth_date'] = pd.to_datetime(df['birth_date'])

In [33]:
df_copy= df.copy()
df = df_copy.copy()
df1 = df_copy.copy()

##### 10. Delete all players from the `TOT` team

In [39]:
df.drop(df[df['Team'] == 'TOT'].index, inplace = True)
df1 = df1[~(df1['Team'] == 'TOT')].copy()
(df['Team'] == 'TOT').sum()

0

In [ ]:
df.equals(df1)

### Analysis

##### 11. What's the team with the most players in the league?

In [41]:
df['Team'].value_counts().sort_values(ascending = False)

Team
New Orleans Pelicans      27
Dallas Mavericks          24
Cleveland Cavaliers       22
Philadelphia 76ers        22
Atlanta Hawks             22
Brooklyn Nets             21
Milwaukee Bucks           20
Oklahoma City Thunder     19
Denver Nuggets            19
Charlotte Hornets         19
Los Angeles Lakers        19
Sacramento Kings          19
Orlando Magic             19
Chicago Bulls             18
Houston Rockets           18
Washington Wizards        18
Phoenix Suns              18
Golden State Warriors     17
Toronto Raptors           17
Memphis Grizzlies         17
Indiana Pacers            17
San Antonio Spurs         17
Minnesota Timberwolves    16
New York Knicks           16
Miami Heat                15
Los Angeles Clippers      15
Portland Trail Blazers    15
Detroit Pistons           15
Utah Jazz                 15
Boston Celtics            15
Name: count, dtype: int64

##### 12. What's the team with the lowest `FG`?

In [42]:
df.groupby('Team')['FG'].sum().sort_values()

Team
Dallas Mavericks          2968.0
Memphis Grizzlies         2984.0
Utah Jazz                 3033.0
Charlotte Hornets         3093.0
Brooklyn Nets             3102.0
Sacramento Kings          3105.0
Orlando Magic             3139.0
Boston Celtics            3168.0
Chicago Bulls             3169.0
Milwaukee Bucks           3190.0
Miami Heat                3202.0
Toronto Raptors           3211.0
New Orleans Pelicans      3218.0
Minnesota Timberwolves    3235.0
Oklahoma City Thunder     3237.0
Los Angeles Clippers      3242.0
Portland Trail Blazers    3243.0
New York Knicks           3244.0
Detroit Pistons           3269.0
Phoenix Suns              3270.0
Houston Rockets           3305.0
Cleveland Cavaliers       3311.0
Philadelphia 76ers        3322.0
Denver Nuggets            3377.0
Indiana Pacers            3379.0
Washington Wizards        3388.0
Los Angeles Lakers        3414.0
San Antonio Spurs         3470.0
Golden State Warriors     3532.0
Atlanta Hawks             3595.0
Name: FG, dtype: float64

##### 13. What's the team with the best `FG%`?

In [43]:
(df.groupby('Team')['FG'].sum()/df.groupby('Team')['FGA'].sum()).sort_values(ascending=False)

Team
Golden State Warriors     0.494678
San Antonio Spurs         0.476387
Los Angeles Clippers      0.475436
Washington Wizards        0.474776
Milwaukee Bucks           0.473505
Cleveland Cavaliers       0.469446
Denver Nuggets            0.469419
Minnesota Timberwolves    0.467350
Utah Jazz                 0.465613
Indiana Pacers            0.464787
Toronto Raptors           0.464151
Houston Rockets           0.462109
Sacramento Kings          0.461024
Portland Trail Blazers    0.459414
Miami Heat                0.455023
Boston Celtics            0.453998
Los Angeles Lakers        0.453688
Atlanta Hawks             0.451576
Oklahoma City Thunder     0.451527
Phoenix Suns              0.450413
New Orleans Pelicans      0.449818
Detroit Pistons           0.448915
New York Knicks           0.447140
Brooklyn Nets             0.443967
Chicago Bulls             0.443713
Charlotte Hornets         0.441857
Philadelphia 76ers        0.440292
Orlando Magic             0.440067
Dallas Mavericks          0.439704
Memphis Grizzlies         0.435366
dtype: float64

##### 14. What's the difference between the best and worst 3P shooters (by position)?

In [44]:
ThreePt_per = (df.groupby('Pos')['3P'].sum()/df.groupby('Pos')['3PA'].sum()).sort_values(ascending=False)

ThreePt_per.max() - ThreePt_per.min()

0.024253659969040164

##### 15. Find the best scorers in each team

In [45]:
best_scorers_per_team = ...
df1 = df.copy()
df1.sort_values(by = 'PTS')
best_scorers_per_team = df1.sort_values(by = 'PTS').drop_duplicates(subset = 'Team' ,keep = 'last').sort_values(ascending = False, by='PTS')[[
    'Player',
    'Team',
    'Pos',
    'PTS'
]]

# best_scorers_per_team = df.loc[
#     df['PTS'] == df["Best Score per Team"],
#     ['Player', 'Team', 'Pos', 'PTS']
# ].sort_values(by='PTS', ascending=False)

##### 16. Which team has the 'youngest squad', by average player age?

In [46]:
df.groupby('Team')['Age'].mean().sort_values()

Team
Portland Trail Blazers    24.333333
Philadelphia 76ers        24.909091
Toronto Raptors           25.117647
Boston Celtics            25.266667
Detroit Pistons           25.466667
Orlando Magic             25.473684
Denver Nuggets            25.473684
Washington Wizards        25.666667
Phoenix Suns              25.666667
Minnesota Timberwolves    25.687500
Charlotte Hornets         25.789474
Brooklyn Nets             25.809524
Chicago Bulls             25.888889
Milwaukee Bucks           25.900000
Oklahoma City Thunder     25.947368
New Orleans Pelicans      25.962963
Houston Rockets           26.000000
Utah Jazz                 26.200000
Los Angeles Lakers        26.578947
Miami Heat                26.600000
New York Knicks           26.625000
Indiana Pacers            26.705882
Sacramento Kings          26.736842
Dallas Mavericks          26.750000
Memphis Grizzlies         27.235294
Golden State Warriors     27.882353
Atlanta Hawks             28.363636
San Antonio Spurs         29.000000
Los Angeles Clippers      29.533333
Cleveland Cavaliers       30.318182
Name: Age, dtype: float64